<h1>Productions</h1>
<% @productions.each do |production| %>
<div>
  <% if production.votes.count > 0 %>
  Rating: <%= production.rating %> out of <%= production.votes.count %> votes.
  <% else %>
  Rating: This production is not yet rated.
  <% end %>
  <a href='/productions/<%= production.id%>'><img src="imgs/<%= production.image %>" width="250px"></a>
  <div>
  Company: <%= production.company.name%><br>
  Title: <%= production.title%><br>
  Writer: <%= production.writer%><br>
  Director: <%= production.director%><br>
  Genre: <%= production.genre%><br>
  Description: <%= production.description%><br>
  Website: <%= production.url%><br>
  Contact: <%= production.email%>
  </div>
</div><br>
<% end %>