<h1>Companies</h1>

<% @companies.each do |company| %>
  <div class="production-view">

    <div class="rating-and-image">
      <div class="rating">
        <% if company.votes.count > 0 %>
          Rating: <%= company.rating %> out of 5<br>
          <%= company.votes.count %> votes
        <% else %>
          Rating: This company is not yet rated.
        <% end %>
      </div>

      <a href='/companies/<%= company.id%>'><img src="imgs/<%= company.image %>"></a>
    </div>

    <div class="production-details">
      <span class="label">Name: </span><%= company.name%><br>
      <span class="label">Style: </span><%= company.style%><br>
      <span class="label">Description:</span> <%= company.description%><br>
      <span class="label">Contact: </span><%= company.email%>
      <span class="label">Website:</span> <%= company.url%><br>
    </div>

  </div>
</div>
<% end %>
