<h1>About the Company</h1>

<div class="production-view">
    <div class="rating-and-image">
      <div class="rating">
        <% if @company.votes.count > 0 %>
        Rating: <%= @company.rating %> out of 5<br>
        <%= @company.votes.count %> votes
        <% else %>
        Rating: This company is not yet rated.
        <% end %>
      </div>

      <img src="../imgs/<%= @company.image %>">
    </div>

    <div class="production-details">
      <span class="label">Name: </span><%= @company.name%><br>
      <span class="label">Style: </span><%= @company.style%><br>
      <span class="label">Description:</span> <%= @company.description%><br>
      <span class="label">Contact: </span><%= @company.email%>
      <span class="label">Phone: </span><%= @company.phone%><br>
      <span class="label">Website:</span> <%= @company.url%><br>
      <span class="label">Neighborhood: </span><%= @company.address.neighborhood%><br>
      <span class="label">Location:</span><br>
      <%= @company.address.street%><br>
      <%= @company.address.city%>, <%= @company.address.state%> <%= @company.address.zip%>
    </div>

  </div>
</div>

<h1>Productions</h1>


<% @productions.each do |production| %>
<div class="production-view">

    <div class="title-writer">
      "<%= production.title%>" <span class="writer">by <%= production.writer%><span>
    </div>

    <div class="rating-and-image">
      <div class="rating">
        <% if production.votes.count > 0 %>
        Rating: <%= production.rating %> out of 5<br>
        <%= production.votes.count %> votes
        <% else %>
        Rating: This production is not yet rated.
        <% end %>
      </div>
      <a class="img-link" href='/productions/<%= production.id%>'><img src="..//imgs/<%= production.image %>" width="250px"></a>
    </div>

    <div class="production-details">
      <span class="label">Director: </span><%= production.director%><br>
      <span class="label">Genre: </span><%= production.genre%><br>
      <span class="label">Description: </span><%= production.description%><br>
      <span class="label">Price: </span>$20.00<br>
      <ul><span class="label">Dates:</span>
        <% production.dates.each do |date| %>
          <li><%= date.strftime("%b %d, %Y at %l:%M pm") %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
<% end %>

